In [1]:
import duckdb as dd
from pathlib import Path

### Staging Tabelle

In [2]:
connect = dd.connect("data\\warehouse.duckdb")

In [9]:
connect.execute(
    "CREATE TABLE IF NOT EXISTS staging_data AS " \
    "SELECT * FROM read_csv_auto('data\\example.csv')")

In [10]:
connect.sql("select * from staging_data limit 5")

┌─────────────────────┬─────────────┬────────────┬───────────┬─────────┬────────────┬───────────────┬───────────────────┬────────────────────┬────────┬────────────────┬──────────────┬───────────────────────┐
│    Purchase date    │ Customer ID │ First_Name │ Last_Name │ Gender  │  Birthday  │ Support Level │       City        │    Servicename     │ Costs  │ payment_method │ Sales Canal  │ Customer Satisfaction │
│      timestamp      │    int64    │  varchar   │  varchar  │ varchar │    date    │    varchar    │      varchar      │      varchar       │ double │    varchar     │   varchar    │         int64         │
├─────────────────────┼─────────────┼────────────┼───────────┼─────────┼────────────┼───────────────┼───────────────────┼────────────────────┼────────┼────────────────┼──────────────┼───────────────────────┤
│ 2024-06-06 19:13:54 │  4152186239 │ Nicholas   │ Avila     │ M       │ 1992-05-30 │ Premium       │ North Danielton   │ Custom Development │ 199.99 │ PayPal         │ online       │                     4 │
│ 2017-10-29 22:55:18 │  4455461458 │ Sarah      │ Willis    │ M       │ 1950-10-17 │ Premium       │ North Annfort     │ Streaming          │  19.99 │ SEPA           │ online       │                     5 │
│ 2013-09-19 08:27:45 │  1886436889 │ Earl       │ Smith     │ M       │ 1973-01-05 │ Premium       │ Brianmouth        │ Streaming          │  19.99 │ SEPA           │ online       │                     3 │
│ 2023-12-18 23:25:37 │  7274373746 │ Barbara    │ Jennings  │ F       │ 1967-07-16 │ Standard      │ Nathanview        │ Databases          │   9.99 │ PayPal         │ on site      │                     1 │
│ 2018-12-23 12:39:22 │  3114143559 │ Darryl     │ Gonzalez  │ F       │ 1998-08-03 │ Premium       │ North Christopher │ E-Commerce         │  39.99 │ PayPal         │ by telephone │                     2 │
└─────────────────────┴─────────────┴────────────┴───────────┴─────────┴────────────┴───────────────┴───────────────────┴────────────────────┴────────┴────────────────┴──────────────┴───────────────────────┘

In [11]:
connect.sql("describe select * from staging_data limit 5")

┌───────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│      column_name      │ column_type │  null   │   key   │ default │  extra  │
│        varchar        │   varchar   │ varchar │ varchar │ varchar │ varchar │
├───────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ Purchase date         │ TIMESTAMP   │ YES     │ NULL    │ NULL    │ NULL    │
│ Customer ID           │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ First_Name            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Last_Name             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Gender                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Birthday              │ DATE        │ YES     │ NULL    │ NULL    │ NULL    │
│ Support Level         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ City                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Servicename           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Costs                 │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ payment_method        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Sales Canal           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Customer Satisfaction │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
├───────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 13 rows                                                           6 columns │
└─────────────────────────────────────────────────────────────────────────────┘

### Erste kleine Analysen

In [20]:
# Wie viele unterschiedliche Kunden gibt es?
query = """
SELECT 
  count(DISTINCT "Customer ID") as Anzahl
FROM staging_data  
"""
connect.sql(query)

┌────────┐
│ Anzahl │
│ int64  │
├────────┤
│    100 │
└────────┘